{% extends "base.html" %}
{% block content %}
  <h3>Профиль пользователя {{ author.get_full_name}}</h3>
  <h3>Всего постов: {{ author.posts.count }}</h3>
  <div class="mb-5">
    {% if following %}
      <a class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button">
        Отписаться
      </a>
    {% else %}
        <a class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button">
          Подписаться
        </a>
     {% endif %}
  </div>
  <hr>
  {% for post in page_obj %}
    {% include 'posts/includes/article.html' with profile=True %}
    {% if not forloop.last %}
      <hr>
    {% endif %}
    {% empty %}
      <p>Нет Постов</p>
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}